{% extends "social/base.html" %}

{% block content %}
<div class='main'>
{% if text %}
<h3>Your Profile's status</h3>
{{ text }} <br style='clear:left;'><br>
{% endif %}
<form method='POST' action='/social/profile/' enctype='multipart/form-data'>
  	{% csrf_token %}
	<h3>You can edit your status here: </h3>
	<textarea class="form-control" rows="5" name='text' cols='40' rows='3'>{{ text }}</textarea>
	<br>
   <button type="submit" class="btn btn-default"> Submit </button>
</form>
</div>
{% endblock %}
